{% extends "jobs/base2.html" %}

{% block seo %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HireFellas | About | Interior, Corporate, Chennai, India</title>
        <meta name="description" content="Discover, compare and hire photographers effortlessly. HireFellas is your one stop for all your photography requirements including wedding, engagement, candid, commercial, corporate or fashion portfolios. Hire photographers anywhere in India including Chennai, Delhi, Bangalore, Cochin, Hyderabad, and Mumbai. We have some of the best photographers on our platform, all verified, trustworthy and reliable."/>
        <meta name="keyphrases" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial photography, get quotes, compare " />
        <meta name="keywords" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial, get quotes, compare" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}

<div id="wrap"><br>
<div class="container">
	<h2 class="text-center">About</h2><hr><br><br><br>
	
	<p class="wow fadeIn">At HireFellas, we know how hard it is to find the right photographer for your cherished event, let alone the right photographer who is available, nearby and within budget. Instead of spending time web searching, page hopping and making tens of phone calls, just tell us what you are looking for. And we'll take care of finding the right photographer for your event.<br>

	HireFellas mission is to make it radically easier for you to the best photographers for your needs without hassle. We discover and curate great talent so that you can hire the best photographer as per your needs in a matter of minutes.</p>
	</div>
	<br><br><br><br>

</div>

{% endblock %}