{% extends "jobs/base2.html" %}

{% block seo %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HireFellas | Contact Us | Photographers, Fashion, Bangalore</title>
        <meta name="description" content="Discover, compare and hire photographers effortlessly. HireFellas is your one stop for all your photography requirements including wedding, engagement, candid, commercial, corporate or fashion portfolios. Hire photographers anywhere in India including Chennai, Delhi, Bangalore, Cochin, Hyderabad, and Mumbai. We have some of the best photographers on our platform, all verified, trustworthy and reliable."/>
        <meta name="keyphrases" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial photography, get quotes, compare " />
        <meta name="keywords" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial, get quotes, compare" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

<div id="wrap"><br>
<div class="container">
	<h2 class="text-center">Contact</h2><hr><br><br><br>
	
	<div class="col-md-6 wow fadeIn ">
		<strong>HireFellas eCommerce Pvt. Ltd.<br>
		IIT Madras Incubation Cell (IITMIC)<br>
		3rd Floor, IIT Madras Research Park<br>
		Kanagam Road<br>
		Taramani, Chennai, India - 600113<br>
		Phone: +91 9789 054683<br>
		Mail: mail@hirefellas.com</strong>
	</div>
	<div class="col-md-6 wow fadeIn">
		<img style="width: 100%;" src="http://maps.googleapis.com/maps/api/staticmap?center=IIT+Madras+Research+Park&zoom=13&size=600x300&markers=color:red%7Clabel:S%7CIIT+Madras+Research+Park&key=AIzaSyCZ-GBaGdlEfrJfHy1LvNtHf5gGzYmjQQY" />
		
	</div>
	</div>
	<br><br><br><br>

</div>

{% endblock %}