{% extends "jobs/base2.html" %}
{% block seo %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HireFellas | Privacy | Bangalore, Chennai, Mumbai, Delhi, Birthday </title>
        <meta name="description" content="Discover, compare and hire photographers effortlessly. HireFellas is your one stop for all your photography requirements including wedding, engagement, candid, commercial, corporate or fashion portfolios. Hire photographers anywhere in India including Chennai, Delhi, Bangalore, Cochin, Hyderabad, and Mumbai. We have some of the best photographers on our platform, all verified, trustworthy and reliable."/>
        <meta name="keyphrases" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial photography, get quotes, compare " />
        <meta name="keywords" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial, get quotes, compare" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

<div id="wrap"><br>
	<div class="container">
	<h3 class="text-center">Privacy Policy</h3><hr><br>
	<p>
	This Terms of Use agreement was last updated: July 31st, 2014 <br>
	This Terms of Use agreement is effective as of: August 1, 2014
	</p><br><br>
	<p class="text-justify wow FadeIn">
	HireFellas eCommerce Pvt. Ltd. ("HireFellas") values your privacy. In this Privacy Policy ("Policy"), we describe the information that we collect about you when you visit our website, www.hirefellas.com (the "Website") and use the services available on the Website ("Services"), and how we use that information.<br>


	If you have any questions or comments about the Privacy Policy, please contact us at mail@hirefellas.com. This Policy is incorporated into and is subject to the HireFellas Terms of Use, which can be accessed at www.hirefellas.com/terms. Your use of the Website and/or Services and any personal information you provide on the Website remains subject to the terms of the Policy and HireFellas' Terms of Use.



	<h5>A. Collection of Your Personal Information</h5>

	<h5>1. COLLECTION OF PERSONAL INFORMATION</h5>

	We collect personal information from service professionals offering their products and services as well as from consumers searching for those service professionals. Both consumers and service professionals are required to create an account to be able to access certain portions of our Website, such as to submit questions, participate in polls or surveys, to request a quote, to submit a bid in response to a quote, and request information. The type of personal information that we collect from you varies based on your particular interaction with our Website. <br>

	Consumers: During the Account registration process, we will collect information such as your name and email address. You also may provide us with your telephone number, mailing address, and demographic information (e.g., gender, age, political preference, education, race or ethnic origin, and other information relevant to user surveys and/or offers). We may also collect personal information that you post in your Offer, Profile, Wants, or Feedback, and any comments or discussions you post in any blog, chat room, or other correspondence site on the Website, or any comments you provide during dispute resolution with other users of the Website.<br>

	<h5>2. COLLECTION OF PERSONAL INFORMATION FROM SOCIAL NETWORKING SITES</h5>

	You may log into our Website through your Facebook account. If you do so, you must enter the email address and password that you use for your Facebook account. We will ask that you grant us permission to access and collect your Facebook basic information (this includes your name, profile picture, gender, networks, user IDs, list of friends, date of birth, email address, and any other information you have set to public on your Facebook account). If you allow us to have access to this information, then we will have access to this information even if you have chosen not to make that information public. <br>

	We store the information that we receive from Facebook with other information that we collect from you or receive about you. <br>

	Facebook controls the information it collects from you. For information about how Facebook may use and disclose your information, including any information you make public, please consult Facebook's privacy policy. We have no control over how any third party site uses or discloses the personal information it collects about you.<br>


	<h5>3. COLLECTION OF AUTOMATIC INFORMATION, USE OF COOKIES AND OTHER TRACKING DEVICES</h5>

	We and our third party service providers, which include ad networks, use cookies, web beacons, and other tracking technologies to collect information about your use of our Website and Services, such as your browser type, your ISP or operating system, your domain name, your access time, the URL of the previous website you visited, your page views, your IP address, and the type of device that you use. We also track how frequently you visit our Website and use our Services. We use this information (including the information collected by our third party service providers) for Website analytics (including to determine which portions of our Website are used most frequently, what our users like/do not like), to assist us in determining relevant advertising (both on and off our Website), to evaluate the success of our advertising campaigns, and as otherwise described in this policy. Currently, we do not honor browser requests not to be tracked. <br>

	Cookies: We and our third party service providers collect information from you by using cookies. A cookie is a small file stored on user's computer hard drive containing information about the user. The cookie helps us analyze web traffic or informs you about your use of a particular website. Cookies allow web applications to respond to you as an individual, tailoring its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. When you visit the Website, we may send one or more cookies (i.e., a small text file containing a string of alphanumeric characters) to your computer that identifies your browser. <br>

	Some of these cookies may be connected to third-party companies or websites. The terms of use of such cookies are governed by this Policy and the privacy policy of the relevant thirdparty company or website. For example, Google measures the performance of advertisements by placing cookies on your computer when you click on ads. If you visit the Website when you have such cookies on your computer, we and Google will be able to tell that you saw the ad delivered by Google. The terms of use of these cookies are governed by this Policy and Google's Privacy Policy. <br>

	Disabling Cookies. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you disable cookies you may be prevented from taking full advantage of the Website because it may not function properly if the ability to accept cookies is disabled. <br>

	Clear GIFs, pixel tags and other technologies. Clear GIFs are tiny graphics with a unique identifier, similar in function to cookies. In contrast to cookies, which are stored on your computer's hard drive, clear GIFs are embedded invisibly on web pages. We may use clear GIFs (a.k.a. web beacons, web bugs or pixel tags), in connection with our Website to, among other things, track the activities of Website visitors, help us manage content, and compile statistics about Website usage. We and our third party service providers also use clear GIFs in HTML emails to our customers, to help us track email response rates, identify when our emails are viewed, and track whether our emails are forwarded.<br><br>
	</div>

</div>

{% endblock %}