{% extends "jobs/base2.html" %}

{% block seo %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HireFellas | Success | Photographer, Candid, Professional, Chennai</title>
        <meta name="description" content="Discover, compare and hire photographers effortlessly. HireFellas is your one stop for all your photography requirements including wedding, engagement, candid, commercial, corporate or fashion portfolios. Hire photographers anywhere in India including Chennai, Delhi, Bangalore, Cochin, Hyderabad, and Mumbai. We have some of the best photographers on our platform, all verified, trustworthy and reliable."/>
        <meta name="keyphrases" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial photography, get quotes, compare " />
        <meta name="keywords" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial, get quotes, compare" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}



{% block style %} 
<link rel="stylesheet" href="/static/css/success.css">
{% endblock %}

{% block content %}

<div id="wrap"><br>
<div class="container wow fadeIn" data-wow-delay="0.5s">
	<div class="jumbotron col-md-6 col-md-offset-3 ">
              <div class="jumbotron-photo">
              		<div class="spinner">
					  <div class="dot1"></div>
					  <div class="dot2"></div>
					</div>
              </div>
              <div class="jumbotron-contents">
                <h1 class="text-center">Heads Up!</h1>
                
                <p>We are finding the best photograher in your area and are available. We will get back to you in 12 hours. Sit tight. </p>
           
              </div>
            </div>

</div>
</div>


{% endblock %}