{% extends "jobs/base2.html" %}

{% block seo %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HireFellas | Team | Interior, Corporate, Photographers, Chennai</title>
        <meta name="description" content="Discover, compare and hire photographers effortlessly. HireFellas is your one stop for all your photography requirements including wedding, engagement, candid, commercial, corporate or fashion portfolios. Hire photographers anywhere in India including Chennai, Delhi, Bangalore, Cochin, Hyderabad, and Mumbai. We have some of the best photographers on our platform, all verified, trustworthy and reliable."/>
        <meta name="keyphrases" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial photography, get quotes, compare " />
        <meta name="keywords" content="HireFellas.com, HireFellas, wedding photographer, candid photography, candid photographer, photographers in India, hire a photographer, wedding images, indian wedding photography, wedding photographers, pre wedding photography, engagement photos, couple photography, hire wedding, photographer, hire photographer chennai, best wedding photographers, wedding cinematography, videography, wedding album, photobook, birthday photography, corporate event photography, fashion portfolio, wedding invitation, commercial, get quotes, compare" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

<div id="wrap"><br>
<div class="container">
	<h2 class="text-center">Team</h2><hr><br><br><br>
	
	<h4>Engineering</h4>
	<p class="text-justify wow fadeIn">Our mission is to build products and infrastructure that support our rapidly growing platform. We believe in creativity, improvisation and the power of individuals working together towards a common goal. We believe that the best solutions result from questioning the status quo and constantly thinking out of the box. We use the best solutions possible, and when they don’t exist - we build our own.</p>

	<h4>Design</h4>
	<p class="text-justify wow fadeIn">We believe design is a state of mind. It’s an approach to a problem. Being a design driven organisation, we believe that the toughest of problems can be solved through a combination of creative and analytical thinking. Our team is in charge of making HireFellas simple and friendly for our users. Our design philosophy is based on simplicity and our approach is collaborative.</p>

	<h4>Product and Marketing</h4>
	<p class="text-justify wow fadeIn">We mix data, user feedback and intuition to build the best possible experience for our users. We collaborate with engineers and designers to make HireFellas come to life. We love data, experiments, collaboration and conversations.</p>

	<h4>Business & Operations</h4>
	<p class="text-justify wow fadeIn">We take care of the system that powers and supports our growth from business development to customer support to business operations. We pitch towards scalability and operational efficiency and are constantly driven to improve.</p>
	</div>
	<br><br><br><br>

</div>

{% endblock %}