/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

          -webkit-box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
              -moz-box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
                         box-shadow: 0px 0px 50px rgba(0,0,0,0.8);

          z-index: 100;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    background: #FCFCFC url(../img/halftone.png) repeat;
}

.footer{
  background-color: #161616 !important;
}

.navbar .container{
    height: 95px;
}
.login-button:hover{
    border-radius: 4px;
    padding: 10px !important;
    border: 1px solid #e6e9ed;
    color:#e6e9ed !important;
    font-size: 1.3em;
    
}

.login-button{
     margin-top:10px;
    border-radius: 4px;
    font-size: 1.3em;
    border: 1px solid transparent;
    padding: 10px !important;
    color:#e6e9ed !important;
}

#wrap{
  min-height: 600px;
}


.dropdown {
    background:transparent;
    width:100%;    
}

.dropdown-menu>li>a {
    color:white;
}
.dropdown ul.dropdown-menu {
    box-shadow:none;
    margin-top:0px;
    width:100%;
}

.dropdown:enabled{
    background-color: white;
}
.usernav{
    display: table !important;
    color:#e6e9ed;
}

.userpic{
    display: table-cell !important;
    vertical-align: middle !important;
    margin-left: 20px;
}

.username{
    display: table-cell !important;
    vertical-align: middle !important;
}

.open{
    background-color: white !important;
}

.open > a{
    background-color: white !important;
    color: #161616 !important;
}

.open > a:hover{
    color: #161616 !important;
}

.usernav:hover{
  color:#e6e9ed ;
}
.navbar .container{
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.intro-text{
    padding-top: 500px;
    padding-bottom: 200px;
}

.navbar-brand{
    font-size: 3em;
    line-height: 1em;
}

.navbar>.container .navbar-brand{
    color:rgb(240, 240, 240);
    font-size: 45px;
    text-shadow:rgba(0, 0, 0, 1) 1px 1px 2px;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    font-size: 1.3em;
    color: white;
    /*margin-right: 50px;    */
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white; }

.nav-element > a{
    color: white;
}
.navbar-link{
    font-size: 2em;
}


/* testing new footer */


.footer1{
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 13px;
    color: #999;
}
.footer1 .widget{
    margin-bottom: 30px;
}

.footer1 .widget-title{
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}

.footer1 a{
    color: #ccc;
}
.footer1 a:hover{
    color: #eee;
}

.follow-me-icons{
    font-size: 30px;
}

.follow-me-icons i{
    float: left;
    margin: 0 10px 0 0;
}

.footer-logo{
    height: 25px;
    width: auto;
}

.footer1 .footer-nav{
    width: inherit;
}

.footer2{
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.footer2 p{
    margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
